
body {

  font-family: Helvetica;
  box-sizing: border-box;
 
}



.text-tittle{
  font-family: Helvetica;
  font-weight: 700;
  font-size: 36px;
}
.text-description{
  font-family: Helvetica;
  font-weight: 300;
  font-size: 14px;
}
.text-sub-tittle{
  font-size: 24px;
  font-weight: 700;
}
.text-card{
  font-weight: 700;
  font-size: 16px;
}
.text-car-tittle{
  font-weight: 400;
  font-size: 14px;
}
.navigation{
  background-color: #F1F3FF;
  color: black;
}

#jumbotron{
  background-color: #F1F3FF;
  position: relative;
  
}

.form-filter{
  padding: 1%;
  position: relative;
  width: 1147px;
  height: 106px;
  left: 196px;
  top: -50px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}



